@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 70px;
    height: 70px;
    margin-left: -33px;
  }
}

.vertical-timeline-element-icon {
  background: white;
}
