@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

html {
  font-size: 16px;
}
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
}
