.OpenSources {
  background: #3e434c;
  color: white;
  padding: 20px 0;
  
  h2 {
    margin-bottom: 10px;
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;

    &__project {
      box-shadow: 0px 0 9px 0px rgba(0, 0, 0, 0.35);
      transition: box-shadow 0.8s;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0px 0 9px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}
