.SocialBar {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;

  &__item {
    color: white;
    opacity: 0.7;
    transition: opacity 0.4s;
    margin: 14px 0;

    &:hover {
      opacity: 1;
    }

    &__icon {
      font-size: 34px;
    }
  }
}
