.App {
  text-align: center;
  background-color: #282c34;

  &__logo {
    height: 40vmin;
  }

  &__header {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 40px;
    font-size: calc(10px + 2vmin);
    color: white;
    background: black;
  }

  &__summary {
    padding: 0 20px;
    position: relative;
    z-index: 3;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__profile {
      width: 150px;
      border-radius: 100%;
    }
  }
}
