.App {
  text-align: center;
  background-color: #282c34;

  &__logo {
    height: 40vmin;
  }

  &__header {
    flex: 1;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    background: black;
  }

  &__summary {
    padding: 0 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
