name: Build CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install && yarn build
        env:
          CI: true
