name: Build CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: borales/actions-yarn@v4
        with:
          cmd: install && yarn build
        env:
          CI: true
