name: Deploy Pages

on:
  push:	
    branches:	
      - master

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: borales/actions-yarn@v2.0.0
      with:
        cmd: install && yarn deploy
      env:
        CI: true
